<html>
  <head>
    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <style type="text/css">
      body {
        text-align: center;
        padding: 5% 0 20% 0;
      }
      #container {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      #map {
        display: grid;
        grid-template-rows: repeat(25, 10px);
        grid-template-columns: repeat(25, 10px);
      }
      .box {
        border: 1px solid black;
        height: 10px;
        width: 10px;
      }
      .red {
        background-color: red;
      }
      .invisible {
        display: none;
      }
    </style>
  </head>

  <body>
    <div id="container">
      <div id="map">
        <div class="box" id="box1"></div>
        <div class="box" id="box2"></div>
        <div class="box" id="box3"></div>
        <div class="box" id="box4"></div>
        <div class="box" id="box5"></div>
        <div class="box" id="box6"></div>
        <div class="box" id="box7"></div>
        <div class="box" id="box8"></div>
        <div class="box" id="box9"></div>
        <div class="box" id="box10"></div>
        <div class="box" id="box11"></div>
        <div class="box" id="box12"></div>
        <div class="box" id="box13"></div>
        <div class="box" id="box14"></div>
        <div class="box" id="box15"></div>
        <div class="box" id="box16"></div>
        <div class="box" id="box17"></div>
        <div class="box" id="box18"></div>
        <div class="box" id="box19"></div>
        <div class="box" id="box20"></div>
        <div class="box" id="box21"></div>
        <div class="box" id="box22"></div>
        <div class="box" id="box23"></div>
        <div class="box" id="box24"></div>
        <div class="box" id="box25"></div>
        <div class="box" id="box26"></div>
        <div class="box" id="box27"></div>
        <div class="box" id="box28"></div>
        <div class="box" id="box29"></div>
        <div class="box" id="box30"></div>
        <div class="box" id="box31"></div>
        <div class="box" id="box32"></div>
        <div class="box" id="box33"></div>
        <div class="box" id="box34"></div>
        <div class="box" id="box35"></div>
        <div class="box" id="box36"></div>
        <div class="box" id="box37"></div>
        <div class="box" id="box38"></div>
        <div class="box" id="box39"></div>
        <div class="box" id="box40"></div>
        <div class="box" id="box41"></div>
        <div class="box" id="box42"></div>
        <div class="box" id="box43"></div>
        <div class="box" id="box44"></div>
        <div class="box" id="box45"></div>
        <div class="box" id="box46"></div>
        <div class="box" id="box47"></div>
        <div class="box" id="box48"></div>
        <div class="box" id="box49"></div>
        <div class="box" id="box50"></div>
        <div class="box" id="box51"></div>
        <div class="box" id="box52"></div>
        <div class="box" id="box53"></div>
        <div class="box" id="box54"></div>
        <div class="box" id="box55"></div>
        <div class="box" id="box56"></div>
        <div class="box" id="box57"></div>
        <div class="box" id="box58"></div>
        <div class="box" id="box59"></div>
        <div class="box" id="box60"></div>
        <div class="box" id="box61"></div>
        <div class="box" id="box62"></div>
        <div class="box" id="box63"></div>
        <div class="box" id="box64"></div>
        <div class="box" id="box65"></div>
        <div class="box" id="box66"></div>
        <div class="box" id="box67"></div>
        <div class="box" id="box68"></div>
        <div class="box" id="box69"></div>
        <div class="box" id="box70"></div>
        <div class="box" id="box71"></div>
        <div class="box" id="box72"></div>
        <div class="box" id="box73"></div>
        <div class="box" id="box74"></div>
        <div class="box" id="box75"></div>
        <div class="box" id="box76"></div>
        <div class="box" id="box77"></div>
        <div class="box" id="box78"></div>
        <div class="box" id="box79"></div>
        <div class="box" id="box80"></div>
        <div class="box" id="box81"></div>
        <div class="box" id="box82"></div>
        <div class="box" id="box83"></div>
        <div class="box" id="box84"></div>
        <div class="box" id="box85"></div>
        <div class="box" id="box86"></div>
        <div class="box" id="box87"></div>
        <div class="box" id="box88"></div>
        <div class="box" id="box89"></div>
        <div class="box" id="box90"></div>
        <div class="box" id="box91"></div>
        <div class="box" id="box92"></div>
        <div class="box" id="box93"></div>
        <div class="box" id="box94"></div>
        <div class="box" id="box95"></div>
        <div class="box" id="box96"></div>
        <div class="box" id="box97"></div>
        <div class="box" id="box98"></div>
        <div class="box" id="box99"></div>
        <div class="box" id="box100"></div>
        <div class="box" id="box101"></div>
        <div class="box" id="box102"></div>
        <div class="box" id="box103"></div>
        <div class="box" id="box104"></div>
        <div class="box" id="box105"></div>
        <div class="box" id="box106"></div>
        <div class="box" id="box107"></div>
        <div class="box" id="box108"></div>
        <div class="box" id="box109"></div>
        <div class="box" id="box110"></div>
        <div class="box" id="box111"></div>
        <div class="box" id="box112"></div>
        <div class="box" id="box113"></div>
        <div class="box" id="box114"></div>
        <div class="box" id="box115"></div>
        <div class="box" id="box116"></div>
        <div class="box" id="box117"></div>
        <div class="box" id="box118"></div>
        <div class="box" id="box119"></div>
        <div class="box" id="box120"></div>
        <div class="box" id="box121"></div>
        <div class="box" id="box122"></div>
        <div class="box" id="box123"></div>
        <div class="box" id="box124"></div>
        <div class="box" id="box125"></div>
        <div class="box" id="box126"></div>
        <div class="box" id="box127"></div>
        <div class="box" id="box128"></div>
        <div class="box" id="box129"></div>
        <div class="box" id="box130"></div>
        <div class="box" id="box131"></div>
        <div class="box" id="box132"></div>
        <div class="box" id="box133"></div>
        <div class="box" id="box134"></div>
        <div class="box" id="box135"></div>
        <div class="box" id="box136"></div>
        <div class="box" id="box137"></div>
        <div class="box" id="box138"></div>
        <div class="box" id="box139"></div>
        <div class="box" id="box140"></div>
        <div class="box" id="box141"></div>
        <div class="box" id="box142"></div>
        <div class="box" id="box143"></div>
        <div class="box" id="box144"></div>
        <div class="box" id="box145"></div>
        <div class="box" id="box146"></div>
        <div class="box" id="box147"></div>
        <div class="box" id="box148"></div>
        <div class="box" id="box149"></div>
        <div class="box" id="box150"></div>
        <div class="box" id="box151"></div>
        <div class="box" id="box152"></div>
        <div class="box" id="box153"></div>
        <div class="box" id="box154"></div>
        <div class="box" id="box155"></div>
        <div class="box" id="box156"></div>
        <div class="box" id="box157"></div>
        <div class="box" id="box158"></div>
        <div class="box" id="box159"></div>
        <div class="box" id="box160"></div>
        <div class="box" id="box161"></div>
        <div class="box" id="box162"></div>
        <div class="box" id="box163"></div>
        <div class="box" id="box164"></div>
        <div class="box" id="box165"></div>
        <div class="box" id="box166"></div>
        <div class="box" id="box167"></div>
        <div class="box" id="box168"></div>
        <div class="box" id="box169"></div>
        <div class="box" id="box170"></div>
        <div class="box" id="box171"></div>
        <div class="box" id="box172"></div>
        <div class="box" id="box173"></div>
        <div class="box" id="box174"></div>
        <div class="box" id="box175"></div>
        <div class="box" id="box176"></div>
        <div class="box" id="box177"></div>
        <div class="box" id="box178"></div>
        <div class="box" id="box179"></div>
        <div class="box" id="box180"></div>
        <div class="box" id="box181"></div>
        <div class="box" id="box182"></div>
        <div class="box" id="box183"></div>
        <div class="box" id="box184"></div>
        <div class="box" id="box185"></div>
        <div class="box" id="box186"></div>
        <div class="box" id="box187"></div>
        <div class="box" id="box188"></div>
        <div class="box" id="box189"></div>
        <div class="box" id="box190"></div>
        <div class="box" id="box191"></div>
        <div class="box" id="box192"></div>
        <div class="box" id="box193"></div>
        <div class="box" id="box194"></div>
        <div class="box" id="box195"></div>
        <div class="box" id="box196"></div>
        <div class="box" id="box197"></div>
        <div class="box" id="box198"></div>
        <div class="box" id="box199"></div>
        <div class="box" id="box200"></div>
        <div class="box" id="box201"></div>
        <div class="box" id="box202"></div>
        <div class="box" id="box203"></div>
        <div class="box" id="box204"></div>
        <div class="box" id="box205"></div>
        <div class="box" id="box206"></div>
        <div class="box" id="box207"></div>
        <div class="box" id="box208"></div>
        <div class="box" id="box209"></div>
        <div class="box" id="box210"></div>
        <div class="box" id="box211"></div>
        <div class="box" id="box212"></div>
        <div class="box" id="box213"></div>
        <div class="box" id="box214"></div>
        <div class="box" id="box215"></div>
        <div class="box" id="box216"></div>
        <div class="box" id="box217"></div>
        <div class="box" id="box218"></div>
        <div class="box" id="box219"></div>
        <div class="box" id="box220"></div>
        <div class="box" id="box221"></div>
        <div class="box" id="box222"></div>
        <div class="box" id="box223"></div>
        <div class="box" id="box224"></div>
        <div class="box" id="box225"></div>
        <div class="box" id="box226"></div>
        <div class="box" id="box227"></div>
        <div class="box" id="box228"></div>
        <div class="box" id="box229"></div>
        <div class="box" id="box230"></div>
        <div class="box" id="box231"></div>
        <div class="box" id="box232"></div>
        <div class="box" id="box233"></div>
        <div class="box" id="box234"></div>
        <div class="box" id="box235"></div>
        <div class="box" id="box236"></div>
        <div class="box" id="box237"></div>
        <div class="box" id="box238"></div>
        <div class="box" id="box239"></div>
        <div class="box" id="box240"></div>
        <div class="box" id="box241"></div>
        <div class="box" id="box242"></div>
        <div class="box" id="box243"></div>
        <div class="box" id="box244"></div>
        <div class="box" id="box245"></div>
        <div class="box" id="box246"></div>
        <div class="box" id="box247"></div>
        <div class="box" id="box248"></div>
        <div class="box" id="box249"></div>
        <div class="box" id="box250"></div>
        <div class="box" id="box251"></div>
        <div class="box" id="box252"></div>
        <div class="box" id="box253"></div>
        <div class="box" id="box254"></div>
        <div class="box" id="box255"></div>
        <div class="box" id="box256"></div>
        <div class="box" id="box257"></div>
        <div class="box" id="box258"></div>
        <div class="box" id="box259"></div>
        <div class="box" id="box260"></div>
        <div class="box" id="box261"></div>
        <div class="box" id="box262"></div>
        <div class="box" id="box263"></div>
        <div class="box" id="box264"></div>
        <div class="box" id="box265"></div>
        <div class="box" id="box266"></div>
        <div class="box" id="box267"></div>
        <div class="box" id="box268"></div>
        <div class="box" id="box269"></div>
        <div class="box" id="box270"></div>
        <div class="box" id="box271"></div>
        <div class="box" id="box272"></div>
        <div class="box" id="box273"></div>
        <div class="box" id="box274"></div>
        <div class="box" id="box275"></div>
        <div class="box" id="box276"></div>
        <div class="box" id="box277"></div>
        <div class="box" id="box278"></div>
        <div class="box" id="box279"></div>
        <div class="box" id="box280"></div>
        <div class="box" id="box281"></div>
        <div class="box" id="box282"></div>
        <div class="box" id="box283"></div>
        <div class="box" id="box284"></div>
        <div class="box" id="box285"></div>
        <div class="box" id="box286"></div>
        <div class="box" id="box287"></div>
        <div class="box" id="box288"></div>
        <div class="box" id="box289"></div>
        <div class="box" id="box290"></div>
        <div class="box" id="box291"></div>
        <div class="box" id="box292"></div>
        <div class="box" id="box293"></div>
        <div class="box" id="box294"></div>
        <div class="box" id="box295"></div>
        <div class="box" id="box296"></div>
        <div class="box" id="box297"></div>
        <div class="box" id="box298"></div>
        <div class="box" id="box299"></div>
        <div class="box" id="box300"></div>
        <div class="box" id="box301"></div>
        <div class="box" id="box302"></div>
        <div class="box" id="box303"></div>
        <div class="box" id="box304"></div>
        <div class="box" id="box305"></div>
        <div class="box" id="box306"></div>
        <div class="box" id="box307"></div>
        <div class="box" id="box308"></div>
        <div class="box" id="box309"></div>
        <div class="box" id="box310"></div>
        <div class="box" id="box311"></div>
        <div class="box" id="box312"></div>
        <div class="box" id="box313"></div>
        <div class="box" id="box314"></div>
        <div class="box" id="box315"></div>
        <div class="box" id="box316"></div>
        <div class="box" id="box317"></div>
        <div class="box" id="box318"></div>
        <div class="box" id="box319"></div>
        <div class="box" id="box320"></div>
        <div class="box" id="box321"></div>
        <div class="box" id="box322"></div>
        <div class="box" id="box323"></div>
        <div class="box" id="box324"></div>
        <div class="box" id="box325"></div>
        <div class="box" id="box326"></div>
        <div class="box" id="box327"></div>
        <div class="box" id="box328"></div>
        <div class="box" id="box329"></div>
        <div class="box" id="box330"></div>
        <div class="box" id="box331"></div>
        <div class="box" id="box332"></div>
        <div class="box" id="box333"></div>
        <div class="box" id="box334"></div>
        <div class="box" id="box335"></div>
        <div class="box" id="box336"></div>
        <div class="box" id="box337"></div>
        <div class="box" id="box338"></div>
        <div class="box" id="box339"></div>
        <div class="box" id="box340"></div>
        <div class="box" id="box341"></div>
        <div class="box" id="box342"></div>
        <div class="box" id="box343"></div>
        <div class="box" id="box344"></div>
        <div class="box" id="box345"></div>
        <div class="box" id="box346"></div>
        <div class="box" id="box347"></div>
        <div class="box" id="box348"></div>
        <div class="box" id="box349"></div>
        <div class="box" id="box350"></div>
        <div class="box" id="box351"></div>
        <div class="box" id="box352"></div>
        <div class="box" id="box353"></div>
        <div class="box" id="box354"></div>
        <div class="box" id="box355"></div>
        <div class="box" id="box356"></div>
        <div class="box" id="box357"></div>
        <div class="box" id="box358"></div>
        <div class="box" id="box359"></div>
        <div class="box" id="box360"></div>
        <div class="box" id="box361"></div>
        <div class="box" id="box362"></div>
        <div class="box" id="box363"></div>
        <div class="box" id="box364"></div>
        <div class="box" id="box365"></div>
        <div class="box" id="box366"></div>
        <div class="box" id="box367"></div>
        <div class="box" id="box368"></div>
        <div class="box" id="box369"></div>
        <div class="box" id="box370"></div>
        <div class="box" id="box371"></div>
        <div class="box" id="box372"></div>
        <div class="box" id="box373"></div>
        <div class="box" id="box374"></div>
        <div class="box" id="box375"></div>
        <div class="box" id="box376"></div>
        <div class="box" id="box377"></div>
        <div class="box" id="box378"></div>
        <div class="box" id="box379"></div>
        <div class="box" id="box380"></div>
        <div class="box" id="box381"></div>
        <div class="box" id="box382"></div>
        <div class="box" id="box383"></div>
        <div class="box" id="box384"></div>
        <div class="box" id="box385"></div>
        <div class="box" id="box386"></div>
        <div class="box" id="box387"></div>
        <div class="box" id="box388"></div>
        <div class="box" id="box389"></div>
        <div class="box" id="box390"></div>
        <div class="box" id="box391"></div>
        <div class="box" id="box392"></div>
        <div class="box" id="box393"></div>
        <div class="box" id="box394"></div>
        <div class="box" id="box395"></div>
        <div class="box" id="box396"></div>
        <div class="box" id="box397"></div>
        <div class="box" id="box398"></div>
        <div class="box" id="box399"></div>
        <div class="box" id="box400"></div>
        <div class="box" id="box401"></div>
        <div class="box" id="box402"></div>
        <div class="box" id="box403"></div>
        <div class="box" id="box404"></div>
        <div class="box" id="box405"></div>
        <div class="box" id="box406"></div>
        <div class="box" id="box407"></div>
        <div class="box" id="box408"></div>
        <div class="box" id="box409"></div>
        <div class="box" id="box410"></div>
        <div class="box" id="box411"></div>
        <div class="box" id="box412"></div>
        <div class="box" id="box413"></div>
        <div class="box" id="box414"></div>
        <div class="box" id="box415"></div>
        <div class="box" id="box416"></div>
        <div class="box" id="box417"></div>
        <div class="box" id="box418"></div>
        <div class="box" id="box419"></div>
        <div class="box" id="box420"></div>
        <div class="box" id="box421"></div>
        <div class="box" id="box422"></div>
        <div class="box" id="box423"></div>
        <div class="box" id="box424"></div>
        <div class="box" id="box425"></div>
        <div class="box" id="box426"></div>
        <div class="box" id="box427"></div>
        <div class="box" id="box428"></div>
        <div class="box" id="box429"></div>
        <div class="box" id="box430"></div>
        <div class="box" id="box431"></div>
        <div class="box" id="box432"></div>
        <div class="box" id="box433"></div>
        <div class="box" id="box434"></div>
        <div class="box" id="box435"></div>
        <div class="box" id="box436"></div>
        <div class="box" id="box437"></div>
        <div class="box" id="box438"></div>
        <div class="box" id="box439"></div>
        <div class="box" id="box440"></div>
        <div class="box" id="box441"></div>
        <div class="box" id="box442"></div>
        <div class="box" id="box443"></div>
        <div class="box" id="box444"></div>
        <div class="box" id="box445"></div>
        <div class="box" id="box446"></div>
        <div class="box" id="box447"></div>
        <div class="box" id="box448"></div>
        <div class="box" id="box449"></div>
        <div class="box" id="box450"></div>
        <div class="box" id="box451"></div>
        <div class="box" id="box452"></div>
        <div class="box" id="box453"></div>
        <div class="box" id="box454"></div>
        <div class="box" id="box455"></div>
        <div class="box" id="box456"></div>
        <div class="box" id="box457"></div>
        <div class="box" id="box458"></div>
        <div class="box" id="box459"></div>
        <div class="box" id="box460"></div>
        <div class="box" id="box461"></div>
        <div class="box" id="box462"></div>
        <div class="box" id="box463"></div>
        <div class="box" id="box464"></div>
        <div class="box" id="box465"></div>
        <div class="box" id="box466"></div>
        <div class="box" id="box467"></div>
        <div class="box" id="box468"></div>
        <div class="box" id="box469"></div>
        <div class="box" id="box470"></div>
        <div class="box" id="box471"></div>
        <div class="box" id="box472"></div>
        <div class="box" id="box473"></div>
        <div class="box" id="box474"></div>
        <div class="box" id="box475"></div>
        <div class="box" id="box476"></div>
        <div class="box" id="box477"></div>
        <div class="box" id="box478"></div>
        <div class="box" id="box479"></div>
        <div class="box" id="box480"></div>
        <div class="box" id="box481"></div>
        <div class="box" id="box482"></div>
        <div class="box" id="box483"></div>
        <div class="box" id="box484"></div>
        <div class="box" id="box485"></div>
        <div class="box" id="box486"></div>
        <div class="box" id="box487"></div>
        <div class="box" id="box488"></div>
        <div class="box" id="box489"></div>
        <div class="box" id="box490"></div>
        <div class="box" id="box491"></div>
        <div class="box" id="box492"></div>
        <div class="box" id="box493"></div>
        <div class="box" id="box494"></div>
        <div class="box" id="box495"></div>
        <div class="box" id="box496"></div>
        <div class="box" id="box497"></div>
        <div class="box" id="box498"></div>
        <div class="box" id="box499"></div>
        <div class="box" id="box500"></div>
        <div class="box" id="box501"></div>
        <div class="box" id="box502"></div>
        <div class="box" id="box503"></div>
        <div class="box" id="box504"></div>
        <div class="box" id="box505"></div>
        <div class="box" id="box506"></div>
        <div class="box" id="box507"></div>
        <div class="box" id="box508"></div>
        <div class="box" id="box509"></div>
        <div class="box" id="box510"></div>
        <div class="box" id="box511"></div>
        <div class="box" id="box512"></div>
        <div class="box" id="box513"></div>
        <div class="box" id="box514"></div>
        <div class="box" id="box515"></div>
        <div class="box" id="box516"></div>
        <div class="box" id="box517"></div>
        <div class="box" id="box518"></div>
        <div class="box" id="box519"></div>
        <div class="box" id="box520"></div>
        <div class="box" id="box521"></div>
        <div class="box" id="box522"></div>
        <div class="box" id="box523"></div>
        <div class="box" id="box524"></div>
        <div class="box" id="box525"></div>
        <div class="box" id="box526"></div>
        <div class="box" id="box527"></div>
        <div class="box" id="box528"></div>
        <div class="box" id="box529"></div>
        <div class="box" id="box530"></div>
        <div class="box" id="box531"></div>
        <div class="box" id="box532"></div>
        <div class="box" id="box533"></div>
        <div class="box" id="box534"></div>
        <div class="box" id="box535"></div>
        <div class="box" id="box536"></div>
        <div class="box" id="box537"></div>
        <div class="box" id="box538"></div>
        <div class="box" id="box539"></div>
        <div class="box" id="box540"></div>
        <div class="box" id="box541"></div>
        <div class="box" id="box542"></div>
        <div class="box" id="box543"></div>
        <div class="box" id="box544"></div>
        <div class="box" id="box545"></div>
        <div class="box" id="box546"></div>
        <div class="box" id="box547"></div>
        <div class="box" id="box548"></div>
        <div class="box" id="box549"></div>
        <div class="box" id="box550"></div>
        <div class="box" id="box551"></div>
        <div class="box" id="box552"></div>
        <div class="box" id="box553"></div>
        <div class="box" id="box554"></div>
        <div class="box" id="box555"></div>
        <div class="box" id="box556"></div>
        <div class="box" id="box557"></div>
        <div class="box" id="box558"></div>
        <div class="box" id="box559"></div>
        <div class="box" id="box560"></div>
        <div class="box" id="box561"></div>
        <div class="box" id="box562"></div>
        <div class="box" id="box563"></div>
        <div class="box" id="box564"></div>
        <div class="box" id="box565"></div>
        <div class="box" id="box566"></div>
        <div class="box" id="box567"></div>
        <div class="box" id="box568"></div>
        <div class="box" id="box569"></div>
        <div class="box" id="box570"></div>
        <div class="box" id="box571"></div>
        <div class="box" id="box572"></div>
        <div class="box" id="box573"></div>
        <div class="box" id="box574"></div>
        <div class="box" id="box575"></div>
        <div class="box" id="box576"></div>
        <div class="box" id="box577"></div>
        <div class="box" id="box578"></div>
        <div class="box" id="box579"></div>
        <div class="box" id="box580"></div>
        <div class="box" id="box581"></div>
        <div class="box" id="box582"></div>
        <div class="box" id="box583"></div>
        <div class="box" id="box584"></div>
        <div class="box" id="box585"></div>
        <div class="box" id="box586"></div>
        <div class="box" id="box587"></div>
        <div class="box" id="box588"></div>
        <div class="box" id="box589"></div>
        <div class="box" id="box590"></div>
        <div class="box" id="box591"></div>
        <div class="box" id="box592"></div>
        <div class="box" id="box593"></div>
        <div class="box" id="box594"></div>
        <div class="box" id="box595"></div>
        <div class="box" id="box596"></div>
        <div class="box" id="box597"></div>
        <div class="box" id="box598"></div>
        <div class="box" id="box599"></div>
        <div class="box" id="box600"></div>
        <div class="box" id="box601"></div>
        <div class="box" id="box602"></div>
        <div class="box" id="box603"></div>
        <div class="box" id="box604"></div>
        <div class="box" id="box605"></div>
        <div class="box" id="box606"></div>
        <div class="box" id="box607"></div>
        <div class="box" id="box608"></div>
        <div class="box" id="box609"></div>
        <div class="box" id="box610"></div>
        <div class="box" id="box611"></div>
        <div class="box" id="box612"></div>
        <div class="box" id="box613"></div>
        <div class="box" id="box614"></div>
        <div class="box" id="box615"></div>
        <div class="box" id="box616"></div>
        <div class="box" id="box617"></div>
        <div class="box" id="box618"></div>
        <div class="box" id="box619"></div>
        <div class="box" id="box620"></div>
        <div class="box" id="box621"></div>
        <div class="box" id="box622"></div>
        <div class="box" id="box623"></div>
        <div class="box" id="box624"></div>
        <div class="box" id="box625"></div>
      </div>
    </div>
    <br />
    <div id="position"></div>
    <br />
    <div id="status">HP: <span id="HP"> 5 / 5</span></div>
    <br />
    <div id="game"></div>
    <br />
    <div id="event_result"></div>
    <br />
    <div id="goto_zero"></div>
    <div id="player_status"></div>
    <br />
    <div id="control">
      <button value="1">동</button>
      <button value="3">서</button>
      <button value="2">남</button>
      <button value="0">북</button>
    </div>

    <figure>
      <audio
        controls
        autoplay
        loop
        src="https://cf-media.sndcdn.com/cSnaV7AOIamR.128.mp3?Policy=eyJTdGF0ZW1lbnQiOlt7IlJlc291cmNlIjoiKjovL2NmLW1lZGlhLnNuZGNkbi5jb20vY1NuYVY3QU9JYW1SLjEyOC5tcDMiLCJDb25kaXRpb24iOnsiRGF0ZUxlc3NUaGFuIjp7IkFXUzpFcG9jaFRpbWUiOjE2MDc5MTYxMjh9fX1dfQ__&Signature=SH2F5fDqdxfSz759QwDHduFzpcEs2y5~bQWqwfLTgKlfoediaJxO9sJw6ldbZlrYQJM7N9Xl9d9RRPrUqEpoyuucNUN5fDqYeqU07nD~VCRTJcJ7YiCjt~rRHZjFyN-5edSR0qaVZIBUzB4niUZkb~qGldQe5uiEHBqgQ~iVh35Fqe19s0~NcnNf5KnF-WkyxSOaGPqrWF3hserWlJee0tmN~ItlN9jNdCqcZihrT6Wamm0MbYTxPcVlZioOfHb9~visIIdtwQcI5b48LMyyG~j5~Z6akheZ-4OPlRNGWn67S~NtNOXk3ZoSA0yYLjDadKpOD7-V2LfebCwO1zUZmg__&Key-Pair-Id=APKAI6TU7MMXM5DG6EPQ"
      >
        Your browser does not support the
        <code>audio</code> element.
      </audio>
    </figure>

    <script>
      const sendAction = (action, params = {}) => {
        $.ajax({
          url: "/action",
          headers: {
            Authorization: "Bearer " + key,
          },
          method: "POST",
          data: `action=${action}&direction=${params.direction}`,
        }).done((req) => {
          const { player, field, event } = req;
          $("#game").html(field.description);

          $("#position").text(`(${field.x},${field.y})`);
          const x = field.x;
          const y = field.y;
          for (let i = 1; i <= 625; i++) {
            $(`#box${i}`).removeClass("red");
          }
          $(`#box${25 * y + x + 1}`).addClass("red");
          field.canGo.forEach((canGo, idx) => {
            const dom = $(`button[value="${idx}"]`);
            canGo === 0 ? dom.hide() : dom.show();
            dom.unbind("click");
            if (canGo === 1) {
              dom.bind("click", function () {
                sendAction("move", { direction: idx });
              });
            }
          });

          if (event) {
            $("#event_result").html(event.description);
          } else {
            $("#event_result").text("아무일도 일어나지 않았다.");
          }

          $("#player_status").text(
            `레벨: ${player.level}, str: ${player.str}, def: ${player.def}, 아이템: ${player.items}, exp: ${player.exp} / ${player.maxExp}`
          );
          $("#HP").text(`${player.HP} / ${player.maxHP}`);

          if (event.death === true) {
            $("#goto_zero").html(
              '<button onclick="(() => window.location.reload())()">평원으로!</button>'
            );
            $("#control").addClass("invisible");
            $("#HP").text(`0 / ${player.maxHP}`);
          }
        });
      };
      const key = localStorage.getItem("_key");
      if (!key) {
        location.href = "/";
      }

      sendAction("query");
    </script>
  </body>
</html>
